# Системные файлы macOS
.DS_Store
.AppleDouble
.LSOverride

# Системные файлы Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Папки редакторов и IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Логи и временные файлы
*.log
.temp/
.cache/
